# These are the dependencies for the development environment.
# Not needed for production.

# PEP8 code linting, which we run on all commits.
flake8==2.4.0
pep8==1.5.7

# MkDocs to build our documentation.
mkdocs==0.13.2

# Packaging dependencies.
wheel==0.24.0
# Twine for secured PyPI uploads.
twine==1.4.0

# Testing dependencies.
# PyTest for running the tests.
pytest>=8.0.0
pytest-django>=4.0.0
pytest-cov>=4.0.0
freezegun>=1.0.0
# Mocking the datetime module.
cryptography>=42.0

# Core dependencies.
Django>=3.2.0,<3.3.0
djangorestframework>=3.12,<3.13
PyJWT>=2.0,<3.0 